<div class="adminList">
	<h1>Soundmind List of Clients</h1>

		<button value="+" class="btn btn-success" ng-click="usersContr.toggleNewForm()">Add New Client</button>
		<form ng-if="usersContr.showNew">
			<h4>Name: <input ng-model="usersContr.newUser.name">


			<button ng-click="usersContr.addUser()">Add</button>
			</h4>
		</form>
		<main>

		  <section class="List">
		  	<h4>Clients</h4>

		    <ul id="clients">
			  <li ng-repeat="user in usersContr.all">
			  	<div class="panel panel-default">
			  		<div class="panel-heading">
			  			<div class="panel-title"><h4> {{user.name}} </h4> </div>
			  		</div>
			  		<div class="panel-body">
							 Recordings: <em>{{user.recordings.length}} </em></span>
							<div class="text-right">
								<button class="view btn" ng-click="usersContr.open()">View</button>
								<button class='delete btn' ng-click="usersContr.deleteUsers( user )">X</button>
							</div>
						</div>
					</div>
			  </li>
			</ul>

		  </section>
		</main>


<div>